body {
    font: var(--12-regular);
    margin: 0;
    padding: 0 0;
}
html {
    box-sizing: border-box;
}

.wrapper {
    padding-top: 16px;
}

.header {
    font: var(--12-bold);
    margin-bottom: 16px;
}

.setting-row {
    align-items: center;
    display: flex;
    padding: 4px 0;
}

.setting-row-function-color {
    border-radius: 8px;
    height: 8px;
    margin-right: 12px;
    width: 8px;
}

.setting-row-function-name {
    flex: 1;
}

.setting-row-function-name::before {
    content: "";
    background-color: --color;

}

.divider {
    border: 0;
    background: var(--divider-lightweight);
    height: 1px;
    margin-bottom: 16px;
}

.stats-row {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}


.sqm-input {
    font-size: 12px;
    margin: 2px 10px;
    width: 60px;
}